.floating-button-container {
    transition: 0.5s;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    color: blueviolet;
}

::placeholder {
    font-size: calc(2.5vh + 3px);
}